{% extends "films/shablon.html" %}
{% load static %}
{% block title %}
    <title>Добавить фильм</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card" style="width: 70rem;">
        <div class="card-header">
            Добавить фильм
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ film_form.title }}
                </div>
                <div class="form-group">
                    {{ film_form.description }}
                </div>
                <div class="form-group">
                    {{ film_form.image }}
                </div>
                <button type="submit" class="btn btn-primary">Добавить фильм</button>
            </form>
            <p>{{ error }}</p>
        </div>
    </div>
</div>
{% endblock %}