{% extends "films/shablon.html" %}
{% load static %}
{% block title %}
    Фильмы
{% endblock %}

{% block content %}



  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер и философский камень.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и философский камень</h5>
            <p class="card-text"> — британско-американский фэнтезийный фильм 2001 года режиссёра Криса Коламбуса по сценарию Стива Кловиса.
              Первый фильм франшизы о мальчике-волшебнике Гарри Поттере, экранизация одноимённого романа Джоан Роулинг (1997).
              Главные роли исполнили Дэниел Рэдклифф, Руперт Гринт и Эмма Уотсон. Взрослые роли сыграли ведущие британские актёры,
              такие как Мэгги Смит, Алан Рикман, Джон Клиз и другие.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D1%84%D0%B8%D0%BB%D0%BE%D1%81%D0%BE%D1%84%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D0%B0%D0%BC%D0%B5%D0%BD%D1%8C_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер Тайная комната.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и тайная комната</h5>
            <p class="card-text"> — британско-американский фэнтезийный фильм 2002 года режиссёра Криса Коламбуса от студии Warner Bros.,
              основанный на одноимённом романе Дж. К. Роулинг 1998 года. Продюсером картины выступил Дэвид Хейман,
              а сценаристом — Стив Кловис. Главные роли исполнили Дэниел Рэдклифф, Руперт Гринт и Эмма Уотсон. Будучи сиквелом,
              «Тайная комната» продолжает историю мальчика-волшебника Гарри Поттера, начатую в «Философском камне» 2001 года.
              Сюжет фильма охватывает второй учебный год Гарри в Школе чародейства и волшебства Хогвартс,
              когда наследник Салазара Слизерина открывает Тайную комнату, выпустив монстра, обращающий в камень обитателей замка.

            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%A2%D0%B0%D0%B9%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%B0_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер и узник Азкабана.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и узник Азкабана</h5>
            <p class="card-text"> — приключенческий фэнтезийный фильм 2004 года, третий из серии фильмов о Гарри Поттере.
              Экранизация одноимённого романа (1999) Джоан Роулинг.
              Вместо Криса Коламбуса, который снял первые два фильма о Гарри Поттере,
              на этот раз режиссёром стал мексиканец Альфонсо Куарон. Актёрский состав практически не изменился,
              за исключением роли Альбуса Дамблдора, которого после смерти Ричарда Харриса играет Майкл Гэмбон,
              и Пэнси Паркинсон, в чьей роли снялась Женевьев Гонт.
              Также среди новых лиц были Гэри Олдмен, Дэвид Тьюлис, Тимоти Сполл и Эмма Томпсон.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D1%83%D0%B7%D0%BD%D0%B8%D0%BA_%D0%90%D0%B7%D0%BA%D0%B0%D0%B1%D0%B0%D0%BD%D0%B0_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер Кубок огня.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и Кубок огня</h5>
            <p class="card-text"> — приключенческий фэнтезийный фильм 2005 года режиссёра Майка Ньюэлла,
              четвёртый из серии фильмов о Гарри Поттере. Экранизация одноимённого романа (2000) Дж. К. Роулинг.
              Из-за пугающих образов и сцен жестокости фильм получил возрастное ограничение.
              Гарри Поттеру снится кошмар, в котором смотритель-магл был убит после того,
              как подслушал заговор Волан-де-Морта, Питера Петтигрю и еще одного человека, которого Гарри не узнает.
              На следующее утро Гарри отправляется на Чемпионат мира по квиддичу с семьей Уизли, Гермионой Грейнджер,
              Седриком Диггори и его отцом Амосом. Той же ночью Пожиратели смерти нападают на лагерь после турнира,
              и неизвестный мужчина накладывает Черную метку.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%9A%D1%83%D0%B1%D0%BE%D0%BA_%D0%BE%D0%B3%D0%BD%D1%8F_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер и Орден Феникса.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и Орден Феникса</h5>
            <p class="card-text">  — приключенческий фэнтезийный фильм 2007 года режиссёра Дэвида Йейтса,
              пятый из серии фильмов о Гарри Поттере. Снят по мотивам одноимённого романа 2003 года Дж. К. Роулинг.
              Во время пребывания у Дурслей на Гарри Поттера и Дадли нападают дементоры.
              Гарри отбивается от них с помощью заклинания Патронуса.
              Министерство магии обнаруживает, что несовершеннолетний Гарри использовал магию,
              и исключает его из Хогвартса, хотя позже его оправдывают.
              Орден Феникса, секретная организация, основанная Альбусом Дамблдором, сообщает Гарри,
              что Министерство магии пытается пресечь слухи о возвращении Волан-де-Морта.
              В штаб-квартире Ордена крестный отец Гарри, Сириус Блэк, упоминает,
              что Волан-де-Морт ищет нечто, чего у него раньше не было; Гарри считает, что это оружие.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%9E%D1%80%D0%B4%D0%B5%D0%BD_%D0%A4%D0%B5%D0%BD%D0%B8%D0%BA%D1%81%D0%B0_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер Принц-полукровка.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и Принц-полукровка</h5>
            <p class="card-text">  — приключенческий фэнтезийный фильм 2009 года режиссёра Дэвида Йейтса,
              шестой из серии фильмов о Гарри Поттере. Экранизация одноимённого романа (2005) Дж. К. Роулинг.
              Теперь от возвращения Волан-де-Морта страдает не только мир волшебников, но и мир маглов:
              Пожиратели Смерти разрушают мост в Лондоне. Помимо того, они устраивают атаку на Косой переулок.
              Тем временем по просьбе Альбуса Дамблдора в Хогвартс возвращается профессор Гораций Слизнорт.
              Когда-то он преподавал здесь зельеварение. Профессор Северус Снегг,
              в свою очередь, получил должность преподавателя Защиты от тёмных искусств.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%9F%D1%80%D0%B8%D0%BD%D1%86-%D0%BF%D0%BE%D0%BB%D1%83%D0%BA%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_(%D1%84%D0%B8%D0%BB%D1%8C%D0%BC)" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер Дары смерти. Часть 1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и дары смерти. Часть 1</h5>
            <p class="card-text"> — седьмой фильм о Гарри Поттере и первая часть экранизации седьмой книги (2007) Джоан Роулинг об этом персонаже.
              В поместье Малфоев Северус Снегг встречается с Волан-де-Мортом и его Пожирателями смерти. Он сообщает,
              что Орден Феникса перевезет Гарри Поттера, который больше не находится под защитой заклинания своей матери, в безопасное место.
              Волан-де-Морт отбирает палочку Люциуса Малфоя; его собственная бессильна против Гарри, потому что она и палочка Гарри — «сестры»,
              так как у них сердцевина из перьев одного и того же феникса. Во время перемещения Гарри выживает после нападения Волан-де-Морта,
              но Грозный Глаз Грюм и Букля погибают.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%94%D0%B0%D1%80%D1%8B_%D0%A1%D0%BC%D0%B5%D1%80%D1%82%D0%B8._%D0%A7%D0%B0%D1%81%D1%82%D1%8C_1" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'films/img/Гарри Поттер Дары смерти. Часть 2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Гарри Поттер и дары смерти. Часть 2</h5>
            <p class="card-text"> — восьмой и заключительный фильм о Гарри Поттере, вторая часть экранизации романа Джоан Роулинг
              «Гарри Поттер и Дары Смерти» (2007). Как и в предыдущих трёх экранизациях романов из серии «Поттериана»,
              режиссёром фильма выступил Дэвид Йейтс, а продюсером — Дэвид Хейман.
              После похорон Добби Гарри Поттер просит гоблина Крюкохвата помочь ему вместе с Роном Уизли и Гермионой Грейнджер
              проникнуть в хранилище Беллатрисы Лестрейндж в банке «Гринготтс», подозревая, что там находится очередной крестраж.
              Крюкохват соглашается в обмен на меч Гриффиндора. Мастер волшебных палочек Олливандер рассказывает Гарри,
              что две волшебные палочки, похищенные из поместья Малфоев, принадлежали Беллатрисе и Драко Малфою; он чувствует,
              что палочка Драко изменила свою преданность в сторону Гарри, который забрал ее у Драко.
              В хранилище Беллатрисы найден крестраж, чаша Пенелопы Пуффендуй, но Крюкохват выхватывает меч и бросает их.
            </p>
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D1%80%D0%B8_%D0%9F%D0%BE%D1%82%D1%82%D0%B5%D1%80_%D0%B8_%D0%94%D0%B0%D1%80%D1%8B_%D0%A1%D0%BC%D0%B5%D1%80%D1%82%D0%B8._%D0%A7%D0%B0%D1%81%D1%82%D1%8C_2" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}